/* Main colors */
$BMPBlue:rgb(1, 49, 88);
$MoneyYellow: rgb(237, 198, 60);

/* Support Colors */
$mainSupport: rgb(255, 255, 255);
$secondarySupport: rgb(223, 223, 223);
$BMPBlueSupport:rgb(1, 39, 68);

/* Contrast Colors */
$mainContrast: rgb(35, 31, 32);
$secondaryContrast: rgb(216, 216, 216);
$BMPBlueContrast: rgb(255, 255, 255);

/* Component colors */
$warningRed: rgb(234, 43, 43);
$successGreen: rgb(37, 251, 80);
$outputGreen: rgb(11, 176, 85);